:root {
    --padding: 1rem;
    --primary-color: rgba(0, 0, 0, 0.80);
    --secondary-color: rgba(233, 233, 237, 1.0); 
    --accent-color: rgba(250, 20, 20, 0.98);
    --success-color: rgba(49, 219, 36, 1.0);
    --text-color: var(--primary-color);
    --outline-offset: 0.01rem;
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    font-size: 16pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: var(--text-color);
    line-height: 1.5;
}

body {
    margin: 2ex auto;
    max-width: 50rem;
}

nav {
    display: flex;
    align-content: stretch;
}

nav .menu {
    list-style: none;
    display: flex;
    flex-grow: 1;

    margin: 0;
    padding: 0;
}

nav .menu > * {
    padding-right: var(--padding);
}

nav .user-panel {
    display: flex;
    justify-content: end;
}

nav .user-panel > * {
    padding-right: var(--padding);
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: calc(var(--padding) / 2);  
    background-color: var(--secondary-color);
}

button.link {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: 0;
    text-decoration: underline;
    background-color: transparent;
}

button.link:hover {
    cursor: pointer;
}

a:visited {
    color: var(--text-color);
}

form label {
    display: block;
}

form fieldset.radio {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

form fieldset.radio label {
    display: initial;
}

form fieldset.radio input {
    display: initial;
    width: initial;
    vertical-align: unset;
}

form input, textarea {
    vertical-align: top;
    width: 100%;
    padding: calc(var(--padding) / 2);
}

form input:focus {
    outline-style: solid;
    outline-width: medium;
    outline-offset: var(--outline-offset);
}

form .button-panel {
    padding-top: var(--padding);
}

form .button-panel:not(:last-child) {
    padding-bottom: var(--padding);
}

figure {
    padding: 0;
    margin: 0;
}

.title {
    font-weight: bold;
    font-size: 200%;
}

.quote {
    font-size: 300%;
    text-align: center;
}

.quote::before {
    content: open-quote;
}

.quote::after {
    content: close-quote;
}

.decision-panel {
    display: flex;
    justify-content: space-between;
}

.decision-panel button {
    min-width: 10rem;
    font-weight: bold;
    font-size: 120%;
}

.human {
    background-color: rgba(0, 0, 0, 1.0);
    color: var(--accent-color);
    text-transform: uppercase;
}

.ai {
    background-color: var(--accent-color);
    color: rgba(0, 0, 0, 1.0);
    text-transform: uppercase;
}

.next-quote-panel {
    padding-top: var(--padding);
    display: flex;
    justify-content: end;
}

.input-container.valid .validated-input:focus {
    outline-color: var(--success-color);
}

.input-container.error .validated-input:focus {
    outline-color: var(--accent-color);
}

.input-container.error .error-message {
    color: var(--accent-color);
}

.error {
    color: var(--accent-color);
}